.shop {
    .shop-content-eva {
        // width: 100%;
        flex: 1;
        overflow-y: scroll;
        box-sizing: border-box;
    }
    .shop-content-eva::-webkit-scrollbar {
        display: none;
    }
}
